body, html {
    width: 100vw;
    height: 100vh;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(to bottom, #ff6347, #a9a9a9); */
    background-color: #e9ec34
}

main{
   display: flex;
   flex-flow: column wrap;
}
header{
    flex-wrap: wrap-reverse;
    color: rgb(255, 255, 255);
    font-family: Arial;
    background-color:rgb(0, 0, 0);
    border-radius: 15px;
    max-width: 99%;
    text-align: center;
    margin: 0;
    padding: 10px;
    flex-flow: column;
}

header h2{
    margin:10px auto;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}
header img{
    display: flex;
    border: 8px solid rgb(199, 199, 199);
    margin:0, auto;
}

#message{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    height:10
}

#message button {
   grid-row: 1/2;
   grid-column:2/3;
   width:99%;
}
